// main: ../style.scss

// MEDIA QUERIES

@include media-breakpoint-up(xxxl) {

   .container {
      max-width: map-get($container-max-widths, xxxl);
   }

}

@include media-breakpoint-up(xxl) {

   .container {
      max-width: map-get($container-max-widths, xxl);
   }

}

@include media-breakpoint-down(xl) {

   .post {
      .post-image, .post-item .post-image {
         height: 180px;
      }
   }

}

@include media-breakpoint-down(lg) {

   html, body {
      font-size: round($font-size * 0.95);
   }

}

@include media-breakpoint-down(md) {

   html, body {
      font-size: round($font-size * 0.9);
   }

   body {
      padding-top: calc(19px + 6rem);
   }

   .container {
      max-width: 100%;
      padding: 0 30px;
   }

   .row {
      margin-left: 0;
      margin-right: 0;
   }

   .col-12 {
     padding: 2rem 0;
   }

   .navbar {
      padding: 3rem 2rem;
      height: inherit !important;
      border-bottom: 1px solid $separator-color;

      .navbar-collapse {
         .navbar-nav {
            padding-top: 3rem;
            margin-top: 3rem;
            border-top: 1px solid $separator-color;

            .nav-item {
               padding: 1rem 0;

               &:first-of-type {
                  padding-top: 0;
               }

               &:last-of-type {
                  padding-bottom: 0;
               }
            }
         }
      }

      &.navbar-small {
         padding: 20px 30px;
      }
   }

}

@include media-breakpoint-down(sm) {

   html, body {
      font-size: round($font-size * 0.85);
   }

}

@include media-breakpoint-down(xs) {

   html, body {
      font-size: round($font-size * 0.8);
   }

}
