// main: ../style.scss

/* TYPOGRAPHY */

body {
   font-family: $font-body;
   font-size: $font-size;
   font-weight: $font-regular;
   line-height: $line-height;
   -webkit-font-smoothing: antialiased;
   color: $text-color;
   background-color: $background-color;
   overflow-x: hidden;
   padding-top: 50px;
}

::-moz-selection {
   background: $primary;
   color: $white;
}

::selection {
   background: $primary;
   color: $white;
}

.primary-bg ::-moz-selection, .secondary-bg ::-moz-selection {
   background: $white;
   color: $primary;
}

.primary-bg ::selection, .secondary-bg ::selection {
   background: $white;
   color: $primary;
}

p {
   width: 100%;
   font-size: 1.2rem;
   line-height: $line-height;
   margin-bottom: 1.5rem;
   word-break: break-word;

   &:last-child {
      margin-bottom: 0;
   }

   &.has-small-font-size {
      font-size: 1rem;
      line-height: decimal-round($line-height * 0.8, 1);
      margin-bottom: 0.5rem;
   }

   &.has-medium-font-size {
      font-size: 1.5rem;
      line-height: decimal-round($line-height * 0.9, 1);
      margin-bottom: 1.2rem;
   }

   &.has-large-font-size {
      font-size: 2.5rem;
      line-height: $line-height;
      margin-bottom: 2rem;
   }

   b, strong {
      color: $dark;
   }

   + h1, + h2, + h3, + h4, + h5, + h6 {
      margin-top: 2rem;
   }

   + .btn {
      margin-top: 1rem;
   }

   &.lead {
      font-size: 1.3rem;
      font-weight: $font-regular;
      line-height: decimal-round($line-height * 0.9, 1);
   }
}

small {
   font-size: 70%;
}

b, strong {
   font-weight: $font-bold;
}

a {
   color: $primary;
   font-weight: $font-semi-bold;
   text-decoration: none;
   outline: 0;
   cursor: pointer;
   transition: all 0.3s ease-in-out;

   &:hover {
      color: $secondary;
      text-decoration: none;

      i {
         color: $secondary;
      }
   }

   strong {
      color: $primary;
      transition: all 0.3s ease-in-out;

      &:hover {
         color: $secondary;
      }
   }
}

hr {
   position: relative;
   width: 150px;
   height: 5px;
   border: 0;
   background-color: $primary;
   margin: 2rem 0;
}

.text-center hr {
   margin: 2rem auto;
}

.text-right hr {
   margin: 2rem 0 2rem auto;
}

em {
   font-style: italic;
}

ul {
   letter-spacing: 0.03rem;
   list-style-position: inside;
   margin-bottom: 3rem;
   list-style: none;
   -webkit-padding-start: 0;
   padding-inline-start: 0;

   li {
      font-size: 1.2rem;
      position: relative;
      padding: 0 0 0.5rem 2rem;

      &:before {
         content: '\f058';
         font-family: "Font Awesome 5 Free";
         position: absolute;
         top: 0;
         left: 0;
         color: $secondary;
      }
   }
}

h1, h2, h3, h4, h5, h6 {
   font-family: $font-heading;
   font-weight: $font-bold;
   line-height: decimal-round($line-height * 0.7, 1);
   letter-spacing: 0.05rem;
   text-transform: uppercase;
   word-break: break-word;
   margin: 0 0 1.5rem 0;
   color: $dark;

   &:last-child {
      margin-bottom: 0;
   }

   b, strong {
      font-weight: $font-bold;
      color: $primary;

      &:before {
         content: none;
      }
   }

   a {
      color: $dark;

      &:hover {
         color: $primary;
      }
   }
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.2rem; }

/* Font Style */

.font-thin {
   font-weight: $font-thin;
}

.font-extra-light {
   font-weight: $font-extra-light;
}

.font-light {
   font-weight: $font-light;
}

.font-regular {
   font-weight: $font-regular;
}

.font-medium {
   font-weight: $font-medium;
}

.font-semi-bold {
   font-weight: $font-semi-bold;
}

.font-bold {
   font-weight: $font-bold;
}

.font-extra-bold {
   font-weight: $font-extra-bold;
}

.font-black {
   font-weight: $font-black;
}

.text-extra-large {
   font-size: 2rem;
}

.text-large {
   font-size: 1.5rem;
}

.text-medium {
   font-size: 1.2rem;
}

.text-default {
   font-size: 1rem;
}

.text-small {
   font-size: 0.9rem;
}

.text-extra-small {
   font-size: 0.8rem;
}

/* Colors Style */

.white-color {
   color: $white;
}

.text-color {
   color: $text-color;
}

.light-color {
   color: $light;
}

.dark-color {
   color: $dark;
}

.primary-color {
   color: $primary;
}

.secondary-color {
   color: $secondary;
}

.green-color {
   color: $green;
}

.yellow-color {
   color: $yellow;
}

.orange-color {
   color: $orange;
}

.red-color {
   color: $red;
}

.separator-color {
   color: $separator-color;
}

.light-bg {
   background-color: $light;
}

.dark-bg {
   background-color: $dark;
}

.primary-bg {
   background-color: $primary;
}

.secondary-bg {
   background-color: $secondary;
}

.red-bg {
   background-color: $red;
}

.yellow-bg {
   background-color: $yellow;
}

.green-bg {
   background-color: $green;
}

.separator-bg {
   background-color: $separator-color;
}
