// main: ../style.scss

/* BUTTONS */

.btn, .wp-block-button__link, .wp-block-file .wp-block-file__button, .wp-block-search__button, input[type="submit"] {
   display: inline-block;
   vertical-align: middle;
   border-radius: 0;
   border: 0;
   padding: 1rem 3rem;
   letter-spacing: 0.05rem;
   text-align: center;
   text-transform: uppercase;
   font-family: $font-heading;
   font-size: 1.5rem;
   font-weight: $font-semi-bold;
   line-height: decimal-round($line-height * 0.7, 1);
   color: $white;
   background-color: $primary;
   position: relative;
   border-radius: 50px;
   transition: all 0.3s ease-in-out;

   &:hover {
      color: $white;
      background-color: $secondary;
      box-shadow: 0 0 30px 5px $separator-color;
      transform: scale(1.05);
      outline: none;
      border: 0;

      i {
         color: $white;
      }
   }

   &.btn-xl {
      padding: 1.5rem 5rem;
      font-size: 1.3em;
   }

   &.btn-lg {
      padding: 1.5rem 4rem;
      font-size: 1.2em;
   }

   &.btn-sm {
      padding: 1rem 2rem;
      font-size: 1em;
   }

   &.btn-xs {
      padding: 1rem 1.5rem;
      font-size: 0.9em;
   }

   i {
      color: $white;
      margin-right: 0.5rem;
   }
}

.primary-bg .btn, .primary-bg .btn, .secondary-bg .btn, .dark-bg .btn, .background-overlay ~ * .btn,
.primary-bg input[type="submit"], .primary-bg input[type="submit"], .secondary-bg input[type="submit"], .dark-bg input[type="submit"], .background-overlay ~ * input[type="submit"],
.sticky .btn, .rev-btn {
   color: $white;
   background: none;
   background-color: transparent;
   border: 3px solid $white;
   box-shadow: none;

   &:hover {
      color: $primary;
      background-color: $white;
      border: 3px solid $white;
      box-shadow: none;
   }
}

.wp-block-button.is-style-outline .wp-block-button__link {
   color: $primary;
   background: none;
   border: 3px solid $primary;

   &:hover {
      color: $white;
      background-color: $primary;
      border: 3px solid $primary;
   }
}

button[type="submit"]:hover {
   box-shadow: none;
}

.btn-link {
   display: inline-block;
   background-color: $primary;
   color: $white;
   border-radius: 5px;
   padding: 0.5rem 1rem;
   margin: 1rem 0 0 1rem;
   text-transform: uppercase;
   font-weight: $font-semi-bold;
   letter-spacing: 0.01rem;

   &:hover {
      background-color: $secondary;
      color: $white;
      text-decoration: none;

      i {
         color: $white;
      }
   }

   &:first-of-type {
      margin-left: 0;
   }

   i {
      margin-right: 0.5rem;
   }
}

.fb-share-button.fb_iframe_widget {
   display: block;
   margin-bottom: 1rem;
}
