// main: ../style.scss

/* BUTTONS */

.btn {
   display: inline-block;
   vertical-align: middle;
   border-radius: 0;
   border: 0;
   padding: 1rem 3rem;
   letter-spacing: 0.05rem;
   text-align: center;
   text-transform: uppercase;
   font-family: $font-heading;
   font-size: 1.2rem;
   font-weight: $font-semi-bold;
   line-height: decimal-round($line-height * 0.7, 1);
   color: $white;
   background-color: $primary;
   position: relative;
   border-radius: 50px;
   transition: all 0.3s ease-in-out;

   &:hover {
      color: $white;
      background-color: $secondary;
      box-shadow: 0 0 30px 5px $separator-color;
      transform: scale(1.05);
      outline: none;
      border: 0;

      i {
         color: $white;
      }
   }

   &.btn-xl {
      padding: 1.5rem 5rem;
      font-size: 1.3rem;
   }

   &.btn-lg {
      padding: 1.5rem 4rem;
      font-size: 1.2rem;
   }

   &.btn-sm {
      padding: 1rem 2rem;
      font-size: 1rem;
   }

   &.btn-xs {
      padding: 1rem 1.5rem;
      font-size: 0.9rem;
   }

   i {
      color: $white;
      margin-right: 0.5rem;
   }
}

.primary-bg .btn, .primary-bg .btn, .secondary-bg .btn, .dark-bg .btn {
   color: $white;
   background: none;
   background-color: transparent;
   border: 3px solid $white;
   box-shadow: none;

   &:hover {
      color: $primary;
      background-color: $white;
      border: 3px solid $white;
      box-shadow: none;
   }
}

.fb-share-button {
   margin-bottom: 1rem;
}
