// main: ../style.scss

/* CONTACT */

div.wpcf7 {
   max-width: 800px;
   margin: 0 auto;

   .wpcf7-submit {
      width: 100%;
      float: right;
      margin-top: 1rem;
   }

   .wpcf7-validation-errors {
     display: block;
     text-align: center;
     color: $red;
     font-weight: $font-bold;
     border: none;
   }

   .wpcf7-not-valid-tip {
       color: $red;
       font-weight: $font-bold;
   }

   .wpcf7-mail-sent-ok {
     margin-top: 0;
     text-align: center;
     color: $green;
     border: none;
     font-weight: $font-bold;
   }

   .ajax-loader {
     margin: 1rem;
     background-repeat: no-repeat;
   }

   span.wpcf7-list-item {
      margin: 0;
   }
}
