// main: ../style.scss

.site-footer {
   padding: 2rem 0;
}

.back-to-top {
   display: none;
   position: fixed;
   right: 50px;
   bottom: 50px;

   a {
      display: block;
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primary;
      color: $white;

      &:hover {
         background-color: $secondary;
         box-shadow: 0 0 30px 10px $separator-color;

         i {
            color: $white;
         }
      }

      i {
         color: $white;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 1.2rem;
      }
   }
}
